#lecturasbundle_lectura_fecha_date,#facturasbundle_factura_fecha_date
{
	display: inline;
}
#lecturasbundle_lectura_fecha_time, #facturasbundle_factura_fecha_time
{
	display: inline;
	margin-left: 20px;
}
